.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fbf9ff;
}

.bio {
  text-align: center;
  color: #fbf9ff;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #32908F;
  
}

.totalWaves {
  text-align: center;
  color: black;
  margin-top: 16px;
  border-style: solid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #a2a3bb;
}

.totalWaves .header {
  font-size: 20px;
}

.totalWavesNum {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.waveForm {
  text-align: center;
  margin-top: 16px;
}

.waveForm textarea {
  width: 100%;
  background-color: #b3b7ee;
  font-size: 14px;
}

.leaderboard {
  background-color: #fbf9ff;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 10px;
  text-align: center;
}