/* https://coolors.co/3c91e6-9fd356-342e37-fafffd-fa824c */

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fbf9ff;
}

.bio {
  text-align: center;
  color: #fbf9ff;
  margin-top: 16px;
}

.connectButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  background-color: #9fd356;
  border-radius: 5px;
  margin-top: 15px;
}

.totalWavesContainer {
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.totalWaves {
  text-align: center;
  color: black;
  margin-top: 16px;
  border-style: solid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fa824c;
  width: 48%;
  float: left;
  border-radius: 20px;
  border-width: 2px;
}

.totalWaves .header {
  font-size: 20px;
}

.totalWavesNum {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.waveForm {
  text-align: center;
  margin-top: 16px;
  width: 100%;
  position: relative;
}

.waveForm textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fafffd;
  font-size: 14px;
  resize: none;
}

.waveButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  background-color: #9fd356;
  position: absolute;
  z-index: 2;
  right: -1px;
  bottom: 5px;
  
}

.topWavers {
  display: flex;
  justify-content: space-between;
}

.leaderboard {
  background-color: #fbf9ff;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 10px;
  text-align: center;
  width: 28%;
  float: left;
  border-radius: 20px;
}

.leaderboard0 {
  background: linear-gradient(-45deg, #9fd356,#FFD700, #daa520, #342e37);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.leaderboard1 {
  background: linear-gradient(-45deg, #c0c0c0,#a9a9a9, #808080, #342e37);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.leaderboard2 {
  background: linear-gradient(-45deg, #808000,#aa8736, #bb8141, #342e37);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.address {
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  width: auto;
}

.messageDetails {
  margin-top: 16px;
}

.messageBox {
  padding: 6px;
  background-color: #9fd356;
}